<!DOCTYPE html>
<html>
  <head>
    <title>Noats de Aula Sistema Web</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="https://icon-icons.com/icons2/734/PNG/512/notepad-1_icon-icons.com_63038.png"
  </head>

  <body>
    <%= yield %>
  </body>
</html>
